@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@theme {
  --color-background: #f2f2f2;
  --color-container-background: #ffffff;
  --color-heading: #0d0d0d;
  --color-content: #333333;
  --color-primary: #155dfc;
  --color-text: #000000;
  --color-section: #8a8a8a;
  --font-sans: var(--font-inter);
  --shadow-navbar: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

@layer base {
  .dark {
    --color-background: #000000;
    --color-container-background: #0d0d0d;
    --color-heading: #ffffff;
    --color-content: #a1a1a1;
    --color-primary: #155dfc;
    --color-text: #ffffff;
    --color-section: #5e5e5e;
    --font-sans: var(--font-inter);
    --shadow-navbar: 0px 3px 6px rgba(255, 255, 255, 0.3) ;
  }
}




html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.headings {
  @apply md:text-[30px] text-[26px] font-bold text-heading text-shadow-[0px_1px_2px_rgba(0,0,0,0.5)] dark:text-shadow-[1px_2px_4px_rgba(255,255,255,0.5)]
}

.subheading {
  font-size: 24px;
}

.tech-stack {
  background-color: rgba(59, 130, 246, 0.1);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  border-color: #8a8a8a;
  transition: all 0.3s ease;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -0.9em;
  font-weight: bolder;
  font-size: 1.1rem;
}

.text-shadow {
  text-shadow: var(--shadow-text-shadow);
}


